{
  "username": "MyBotsName",
  "password": "MyBotsSuperSecretPassword",
  "org_id": "theOrgIdOfTheTeamYouWantThisBotToJoin",
  "twitter_consumer_key": "your-twitter-consumer-key",
  "twitter_consumer_secret": "your-twitter-consumer-secret",
  "twitter_access_token": "your-twitter-access-token",
  "twitter_access_token_secret": "your-twitter-access-token-secret",
  "photo": "Twitter_Social_Icon_Circle_Color.png"
}